

/* about code */

.skillsContainer {
  height: 150vh;
  width: 100%;
  padding-top: 16vh;
  margin-top: 15vh;
  background-image: linear-gradient(to bottom right,#0B062F ,#3a002938 );
}

.skillsContainerHeading{
font-family: poppin-SemiBold;
font-size: 6.5vh;
text-align: center;

}
.skillsContainerHeadingUnderline{
  text-align: center;
  border: 0.5px solid #FF0513;
  background-color: #FF0513;
  margin-top: 2.5vh;
  width: 18vw;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.skillsImageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skillsImageInnerContainer{
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0vh 4vw;
  padding-top: 14vh;

}

.SkillImage{
  height: 10vh;
  width: 10vh;
}

.SkillImageHeading{
  font-family: poppin-Medium;
  font-size: 2.6vh;
  padding-top: 2vh;
  text-transform: capitalize;
}