.Skil{
    display: flex;
    justify-content: center;
    
    width: fit-content;
    margin-left: 10vh;
    
}
.Skil > img{
    height: 15vh;
    width: 15vh;
}
.Skil > div{
   
    margin-top: 5vh;
    font-size: 4vh;
}
@media (max-width: 768px) {

    .Skil{
        
        margin-left: 0vh;
        
    }

.Skil > img{
    height: 12vh;
    width: 12vh;
}
.Skil > div{
   
    margin-top: 4vh;
    font-size: 3vh;
}
  
  }