.App {
  margin:0;
  font-family: poppin-Regular;
  color:white;
}

/* images css */

.backgroundImage{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: linear-gradient(to top right, #3A0029,#0B062F );
}
.logo{
  top: 4vh;
  left:4.5vw;
  height: 6.8vh;
  position: absolute;
}
.TopDotImage{
  position: absolute;
  left:29vw;
  height: 26vh;
  width: 27vw;
}
.RightStraightImage{
  position: absolute;
  right: 0;
  top: 70vh;
  height: 45vh;
  width: 5vw;
}
.CircleImage{
  position: absolute;
  left: -10vw;
  top:32vh;
  height: 60vh;

}

.showcaseImage{
  position: absolute;
  left:62vw;
  height: 68vh;
 top: 32.8vh;
}

/* ----------xxxxxxxxxxxxxxxxxxxxxxxxxxx------------------ */

/* nav */

.topNavImage{
  position: absolute;
  left:63.6vw;
  height: 12vh;
  width: 6vw;
}

.Nav{
 height: 5vh;
}
.topShowcaseContent{
  height: 95vh;
 
}
.Nav > a{
  text-decoration: none;
}
.lg{
  top: 4vh;
  left:4vw;
  height: 6vh;
  position: absolute;
  animation-name: l;
  animation-duration: 1s;
  animation-timing-function:ease;
  
}
@keyframes l {
  from {left:0vh;}
  to {left:4vh;}

}


.Nava,
.Navw,.Navc{
color: rgb(255, 255, 255);
font-family: poppin-Medium;
position: absolute;
top: 5.5vh;
left: 65vw;
font-size: 2.2vh;
cursor: pointer;
transition: transform .4s;
}

.Navw{
  left: 72vw;
  }

.Navc{
    left: 78.5vw;
}
.Nava:hover,.Navw:hover,.Navc:hover{
  transform: scale(1.1); 
 
}

.Navr{
  position: absolute;
  font-family: poppin-Regular;
top: 3.8vh;
left: 86vw;
font-size: 2vh;
padding: 1.8vh 2.5vw;
color: rgb(255, 255, 255);
border: 1.5px solid white;
border-radius: 3.2vh;
background-color: #20202000;
cursor: pointer !important;
transition: transform .4s;
}

.Navr:hover{

  transform: scale(1.1); 
}


/* ----------xxxxxxxxxxxxxxxxxxxxxxxxxxx------------------ */

/* top section css */
.topInfo{
  font-family: poppin-Light;
  position: absolute;
  top: 24.5vh;
  left: 5vw;
  font-size: 4vh;
}

.Name,
.Surname{
  font-family: poppin-Bold;
  position: absolute;
  top: 27.4vh;
  left: 5vw;
  font-size: 15vh;
  text-transform: capitalize;
}
.Surname{
  top: 42.6vh;
}

.bottomInfo{
  font-family: poppin-Light;
  position: absolute;
  top: 65.2vh;
  left: 5vw;
  font-size: 2.8vh;
}

.bottomInfo span{
  font-family: poppin-Medium;
  font-size: 2.8vh;
  color: #ff0077;
}

.topSocialMediaComponent{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 84vh;
  left: 5vw;
}

.topSocialMediaInfo{
  font-family: poppin-Light;
  font-size: 3.2vh;
}
.topSocialMediaIconsContainer{
  padding-top: 1.8vh;
  display: flex;
  align-items: center;
}

.topSocialImageIcon{
  height: 4vh;
  width: 4vh;
  padding-right: 2vw;
  cursor: pointer;
  transition: transform .4s;
}
.topSocialImageIcon:hover{

 filter: grayscale(100%);
 transform: scale(1.1); 
}

/* ----------xxxxxxxxxxxxxxxxxxxxxxxxxxx------------------ */

/* about code */

.About {
  height: 120vh;
  width: 100%;
  padding-top: 24vh;
  margin-top: 15vh;
  background-image: linear-gradient(to bottom right,#0B062F ,#3a002938 );
}

.topAboutInfoHeadingImage{
  height: 40vh;
  width: 21vw;
}
.topAboutInfoHeading{
  margin-left: 5vw;
  margin-top: -27vh;
  font-family: poppin-SemiBold;
  font-size: 5.5vh;
  display: flex;
  align-items: center;
}
.topAboutInfoHeadingLine{
  height: 0vh;
  width: 40vw;
  margin-left: 15vw;
  background-color: #FF0513;
  border: 0.5px solid #FF0513;
  border-radius: 1vh;
}

.aboutMainContainer{
  display: flex;
}

.topAboutInfoLeftContainer{
  font-family: poppin-Light;
  font-size: 2.6vh;
  line-height: 6.4vh;
  margin-left: 5vw;
  padding-right: 6vw;
}

.AboutTopTest{
  padding-top: 4vh;
}

.AboutBottomTest{
  padding-top: 4vh;
}

.AboutBottomTestCompany{
  text-decoration: none;
  font-family: poppin-Bold;
  color: #0082D5;
  cursor: pointer !important;
  transition: font-size .4s;
  font-size: 2.6vh;
}
.AboutBottomTestCompany:hover{
 font-size: 2.8vh;
}
.topAboutInfoShowcaseImage{
  height: 97vh;
  margin-right: 4vw;
  margin-top: -16vh;
}

/* ----------xxxxxxxxxxxxxxxxxxxxxxxxxxx------------------ */

.Ab{
  font-size: 3vh;
  width: 40%;
  height: fit-content;
  padding-top: 2%;
  margin-left: 13vw;
  animation-name: ab;
  animation-duration: 1s;
  animation-timing-function:ease;
  animation-delay: 0.2s;

}
@keyframes n {
  from {margin-left: -150vw;}
  to {margin-left: 10vw;}

}
@keyframes s {
  from {margin-left: -150vw;}
  to {margin-left: 13vw;}

}
@keyframes ab {
  from {margin-left: -150vw;}
  to {margin-left: 13vw;}

}

.imgbg{
  
  height: 60vh;
  width: 45vh;
  margin-left: 63vw;
  margin-top: -50vh;

  animation-name: imgb;
  animation-duration: 1s;
  animation-timing-function:ease;
}
@keyframes imgb {
  from {margin-top: -110vh;}
  to {margin-top: -50vh;}

}
.Work{
  height: fit-content;
  width: 100%;

  padding-bottom: 10vh;
 

}
.Bar{
  height: 1px;
  width: 80%;
  margin-left: 10%;
  background:#707070;

}

.w{
  color: #707070;
  padding-top: 6%;
  margin-left: 13vw;
  font-size: 5vh;
}
.box{
  height: fit-content;
  width: fit-content;
  
  display: flex;
  justify-content: left;
}
.N{
  color: #707070;
  padding: 2%;
  
  margin-left: 13vw;
  font-size: 4vh;
  
  display: flex;
  
}
.Wdisplay{
  display:grid;
  grid-template-columns: 1fr 1fr;
 height: fit-content;
 width: fit-content;
 padding-left: 10vh;

}
.Wdisplay > a{
  text-decoration: none;
}

.Skills{
  height: 90vh;
  width: 100%;
 
  color: #707070;
  padding-top: 10%;
  
}
.SBar{
  height: 1px;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  background:#707070;
}
.Lists{
  height: 80%;
  width: 80%;
 
  margin-left: auto;
  margin-right: auto;

}
.Ldis{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.s{
  color: #707070;
  padding-top: 6%;
  margin-left: 5vw;
  font-size: 5vh;
}

.Footer {
  height: 50vh;
  width: 100%;
 
  color: #707070;
  
}

.Iconsm{
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  height: 6vh;
  
}
.Iconsm > a {
  text-decoration: none;
}
.Mail{
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  padding-right: 1vh;
  padding-left: 1vh;
  width: fit-content;
  height: 4vh;
  font-size: 2vh;
  color: #202020;
  cursor: pointer;
  
  border-radius: 2px 2px 2px 2px;
  min-width: fit-content;
  
}
.Mail:hover{
  opacity: 0.9;
  margin-top: 0.7vh;
 
  color: aliceblue;
}


.Footer > p{
  margin-right: 12vw;
  
  font-size: 2vh;
  color: #707070;
  text-align: right;

}
@media (max-width: 768px) {
  .About {
    display: block;
    height: 90vh;
    width: 100%;
    background-color:#1F1F22;
    color: #707070;
    
  }
  .lg{
    top: 2vh;
    height: 5vh;
    width: 5vh;
    
  }
  .Navw{
    opacity: 0.5;
    top: 0.2vh;
    right:5vh;
    rotate: 0deg;
    height: 4vh;
    width: 12vh;
    font-size: 2vh;
    color:  #707070;
    padding-top: 1vh;
   
    position: absolute;
    animation-name: nw;
    animation-duration: 1s;
    animation-timing-function:ease;
    
  }
  @keyframes nw {
    from { right:0vh;}
    to { right:5vh;}
  
  }
  
  .Navw:hover{
    opacity: 1;
   
    
  }
  .Navc{
    opacity: 0.5;
    top: 0.2vh;
    right:-1vh;
    rotate: 0deg;
    height: 4vh;
    width: 12vh;
    font-size: 2vh;
    color:  #707070;
    padding-top: 1vh;
    position: absolute;
    animation-name: nc;
    animation-duration: 1s;
    animation-timing-function:ease;
    
  }
  @keyframes nc {
    from { right:-10vh;}
    to { right:-1vh;}
  }
  .Name{

    font-size: 8vh;
    margin-left: 5vw;
    padding-top: 0%;
    width: fit-content;
    animation-name: n;
    animation-duration: 1s;
    animation-timing-function:ease;
   
  }
  .Surname{
    font-size: 8vh;
    margin-left: 5vw;
  
    width: fit-content;
    animation-name: s;
    animation-duration: 1s;
    animation-timing-function:ease;
    animation-delay: 0.1s;
  }
  .Ab{
    font-size: 3vh;
    width: 80%;
    height: fit-content;
    padding-top: 2%;
    margin-left: 13vw;
    animation-name: ab;
    animation-duration: 1s;
    animation-timing-function:ease;
    animation-delay: 0.2s;
  
  }
  @keyframes n {
    from {margin-left: -150vw;}
    to {margin-left: 5vw;}
  
  }
  @keyframes s {
    from {margin-left: -150vw;}
    to {margin-left: 5vw;}
  
  }
  @keyframes ab {
    from {margin-left: -150vw;}
    to {margin-left: 13vw;}
  
  }
  .image{
    height: 35vh;
    width: 25vh;
    margin-left: 23vw;
    margin-top: -18vh;
    animation-name: img;
    animation-duration: 1s;
    animation-timing-function:ease;
    
   
  }
  @keyframes img {
    from {margin-left: 0vw; margin-top: 0vh;}
    to {margin-left: 23vw; margin-top: -18vh;}
  
  }
  .imgbg{
    
    height: 65vh;
    width: 90%;
    margin-left: 5vw;
    margin-top: -45vh;
    background:#121215;
  }
  @keyframes imgb {
    from {margin-top: -110vh;margin-top: -150vh;}
    to {margin-top: 60vh;margin-top: -45vh;}
  
  }
  .Wdisplay{
    display:block;
    
   height: fit-content;
   width: fit-content;
  }
  .Ldis{
    display: block;
    
    
  }
  .Skills{
    height: fit-content;
    padding-bottom: 5vh;

    
  }
  .Footer {
    height: fit-content;
    padding-bottom: 1vh;
   
    
  }
}
