
@font-face {
  font-family: poppin-Bold;
  src: url('./Assets//Fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: poppin-Light;
  src: url('./Assets//Fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: poppin-Medium;
  src: url('./Assets//Fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: poppin-Regular;
  src: url('./Assets//Fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: poppin-SemiBold;
  src: url('./Assets//Fonts/Poppins-SemiBold.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff0512b3; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff0512f1; 
}

::-webkit-scrollbar {
  width: 0.4em;
}
::-webkit-scrollbar-track {
  background-color: #0E0C38;

}

